{% extends "app/layout.html" %}

{% block content %}

<form id="registration_form" action="" method="POST" onsubmit="this.submit(); this.reset(); return false;">
    <div id="infoDiv">
        {% csrf_token %}
        {{ form.employee_number }}
        {{ form.first_name }}
        {{ form.middle_name }}
        {{ form.last_name }}
        {{ form.contact_number }}
        {{ form.email_address }}
        {{ form.faces }}
    </div>
    <div id="faceContainer">

    </div>


    <input id="regFormSubmitBtn" type="submit" value="Submit">
</form>

<div id="camContainer">
    <center>
        <img id="camOutputImg" />
        <input id="captureImg" type="button" value="Capture">
    </center>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var imageWORect;
    var imageWRect;

    var capturedImgArray = [];

    function imgUpdater() {
        // create an AJAX call
        $.ajax({
            data: $(this).serialize(), // get the form data
            url: "{% url 'imgOutputWOrigFrame' %}",
            // on success
            success: function (response) {
                imageWRect = "data:image/png;base64," + response.frameWRect;
                imageWORect = "data:image/png;base64," + response.frameWORect;
                document.getElementById("camOutputImg").src = imageWRect;
            },
            // on error
            error: function (response) {
                // alert the error if any error occured
                console.log(response.responseJSON.errors)
            }
        });

        return false;
    };

    function passImgArray() {
        // create an AJAX call
        $.ajax({
            data: { 'capturedImages': capturedImgArray }, // get the form data
            type: 'POST',
            url: "{% url 'uploadImages' %}",
            // on success
            success: function (response) {

            },
            // on error
            error: function (response) {
                // alert the error if any error occured
                console.log(response.responseJSON.errors)
            }
        });

        return false;
    };

    function captureImg() {
        const imgElem = document.createElement("img");
        imgElem.src = imageWORect;
        capturedImgArray.push(imageWORect);
        imgElem.width = 125;
        imgElem.height = 125;

        document.getElementById("faceContainer").appendChild(imgElem);
    };


    var interval = 100
    setInterval(imgUpdater, interval)

    

    document.getElementById("captureImg").addEventListener('click', function () { captureImg() });
</script>


{% endblock %}