{% extends "app/layout.html" %}

{% block content %}

<form id="registration_form" action="" method="POST" onsubmit="this.submit(); this.reset(); return false;">
    <div id="infoDiv">
        {% csrf_token %}
        {{ form.employee_id_num }}
        {{ form.first_name }}
        {{ form.middle_name }}
        {{ form.last_name }}
        {{ form.contact_number }}
        {{ form.email_address }}
    </div>
    <input id="regFormSubmitBtn" type="submit" value="Submit" onclick="regNewUser()">
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    /*
    function regNewUser() {
        $.ajax({
            url: "{% url 'registerEmployee' %}",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                'employee_id_num': document.getElementById("id_employee_id_num").value,
                'first_name': document.getElementById("id_first_name").value,
                'middle_name': document.getElementById("id_middle_name").value,
                'last_name': document.getElementById("id_last_name").value,
                'contact_number': document.getElementById("id_contact_number").value,
                'email_address': document.getElementById("id_email_address").value,
                'capturedImages': capturedImgArray,
            },
            success: function (response) {
                //Display django httpresponse
                document.write(response)
                window.location.reload()
            },
            // on error
            error: function (response) {
                // alert the error if any error occured
                console.log(response.responseJSON.errors)
                window.location.reload()
            }
        });
        
    };


    var interval = 150
    setInterval(imgUpdater, interval)
    document.getElementById("captureImg").addEventListener('click', function () { captureImg() });
    document.getElementById("regFormSubmitBtn").addEventListener('click', function () { passImgArray() });
    ^/
</script>


{% endblock %}