{% extends "app/layout.html" %}

{% block content %}

<form id="registration_form" action="" method="POST" onsubmit="this.submit(); this.reset(); return false;">
    <div id="infoDiv">
        {% csrf_token %}
        {{ form.employee_id_num }}

        {{ form.first_name }}
        {{ form.middle_name }}
        {{ form.last_name }}
        {{ form.contact_number }}
        {{ form.email_address }}
        {{ form.faces }}
    </div>

    <div id="faceContainer">

    </div>


    <input id="regFormSubmitBtn" type="submit" value="Submit">
</form>
<script>
    function dataUpdater() {
        var x = document.getElementById("id_employee_id_num").value;
        // create an AJAX call
        $.ajax({
            type: "GET",
            data: {'employee_number': x}, // get the form data
            url: "{% url 'getEmpData' %}",
            // on success
            success: function (response) {
                document.getElementById("id_first_name").value = response.first_name;
                document.getElementById("id_middle_name").value = response.middle_name;
                document.getElementById("id_last_name").value = response.last_name;
                document.getElementById("id_contact_number").value = response.contact_number;
                document.getElementById("id_email_address").value = response.email;
            },
            // on error
            error: function (response) {
                // alert the error if any error occured
                console.log(response.responseJSON.errors)
            }
        });
    };
    document.getElementById("id_employee_id_num").addEventListener('change', function () { dataUpdater() });
</script>


{% endblock %}